body {
    font-family: 'Macondo Swash Caps', cursive;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 1.7; */
    color: #d4af37;
    margin: 0;
}

.header {
    height: 100vh;
    background-image: url(assets/damir-spanic-NZuRKh8hiRA-unsplash.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.7;
}

p {
    font-size: 2.5rem;
}

ul {
    list-style-type: none;
    text-align: left;
}

img{
    width: 100%;

}

.main-box  {
    position: absolute;
    top: 65%;
    left: 70%;
    text-align: center;
    /* /*transform: translate(-50%, -50%); */
}       

.heading-primary {
    font-size: 70px;
    display: block;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);

}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.select-btn {
    background-color: transparent;
    border: solid 1px #D4AF37;
    border-radius: 20px;
    color: #D4AF37;
    font-size: 16px;
    font-family: 'Macondo Swash Caps', cursive;
    padding: 10px 20px;
    cursor: pointer;
  }

.btn-main {
    background-color: transparent;
    border: solid 1px #d4af37;
    border-radius: 100px;
    color: #d4af37;
    font-size: 24px;
    font-family: 'Macondo Swash Caps', cursive;
    padding: 20px;
    cursor: pointer;
}
#myDIV {
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
    background-size: cover;
}

.form-label {
    border-radius: 10px;
}

.tarot-cards,
.cocktail-cards {
    height: 100vh;
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
    background-size: cover;
    margin-top: 0;
}

.heading-secondary {
    font-size: 55px;
    display: block;
    text-align: center;
    padding: 35px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text {
    font-size: 12px;
    text-align: center;
}
.scene {
    width: 268px;
    height: 461px;
    margin: 10px 10px;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color:#D4AF37;
    text-align: center;
    font-weight: bold;
    /* font-size: 40px; */
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(171, 84, 230);

  }
  
  .card__face--back {
    /* background: ; */
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
    transform: rotateY(180deg);

    padding: 1rem;

  }

  .hidden {
      display: none;
  }

  #check {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 5rem;
      align-items: flex-start;
      font-size: 2.5rem;
      justify-content: space-between;
  }

  #restartButton{
      display: block;
      position: absolute;
      top: 90%;
      left: 85%
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .container {
        display: flex;
        flex-direction: column;
        vertical-align: center;
        margin-left: 18px;
    }
    .heading-primary, .btn-main {
        position: relative;
        text-align: center;
        right: 50%;
        bottom: 50%;
    }
}
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        /* Styles */
        .container {
            display: flex;
            flex-direction: column;
            vertical-align: center;
            margin-left: 18px;
        }
        .heading-primary, .btn-main {
            position: relative;
            text-align: center;
            right: 50%;
            bottom: 50%;
        }
    }
