body {
    font-family: 'Macondo Swash Caps', cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #D4AF37;
}
.header {
    height: 100vh;
    background-image: url(assets/damir-spanic-NZuRKh8hiRA-unsplash.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.7;
}
.main-box {
    position: absolute;
    top: 65%;
    left: 70%;
    text-align: center;
    /* /*transform: translate(-50%, -50%); */
}
.heading-primary {
    font-size: 70px;
    display: block;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn-main {
    background-color: transparent;
    color: #D4AF37;
}

.card {
    margin-top: 15%;
}


/*.hidden {
    display: none;
}